<dl class="form_box">
  <dt class="name_ttl">
    <span class="ttl">{{ date.vars.label }}</span><span class="required">必須</span>
  </dt>
  <dd class="txt_box">
    {{ form_widget(date) }}
    {{ form_widget(hour) }}
    {{ form_widget(minute) }}
  </dd>
</dl>